@import url(http://fonts.googleapis.com/css?family=Open+Sans:800)

body
  background-color: #E3F6F3
  background-image: url(/images/heart.svg)
  background-repeat: no-repeat
  background-size: contain
  background-position: top
  background-attachment: fixed
  font-family: 'Arvo', serif

h1, h2
  font-family: 'Open Sans'
  //font-weight: 900
  //text-transform: uppercase


svg.logo
  font: 5.0em/1 Open Sans, Impact
  text-transform: uppercase

.callout
  font-size: 2.5em

.text
  fill: none
  stroke-width: 6
  stroke-linejoin: round
  stroke-dasharray: 70 330
  stroke-dashoffset: 0
  animation: stroke 6s infinite linear

  &:nth-child(5n + 1)
    stroke: #F2385A
    animation-delay: -1.2s

  &:nth-child(5n + 2)
    stroke: #F5A503
    animation-delay: -2.4s

  &:nth-child(5n + 3)
    stroke: #E9F1DF
    animation-delay: -3.6s

  &:nth-child(5n + 4)
    stroke: #56D9CD
    animation-delay: -4.8s

  &:nth-child(5n + 5)
    stroke: #3AA1BF
    animation-delay: -6s

@keyframes stroke
  100%
    stroke-dashoffset: -400

section
  background-color: #F4F7F7
  border: 10px solid rgba(196, 237, 228, 0.25)
  padding: 2rem
  margin: 0 0 5rem 0

.why
  p
    font-size: 200%

.how-it-works
  p
    font-size: 200%
  i
    color: #4C696B
    font-size: 300%
    line-height: normal

.faq
  margin: 0
  border-bottom: 0

footer
  background-color: #403D58
  margin: 0 auto
  padding: 1rem

  p
    margin: 0

  a
    color: #FC7753
  a:hover, a:focus
    color: #DBD56E
