@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
/* line 3, //et.github.io/oneglove/stylesheets/style.css.sass */
body {
  background-color: #E3F6F3;
  background-image: url(//et.github.io/oneglove/images/heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-attachment: fixed;
  font-family: "Arvo", serif; }

/* line 12, //et.github.io/oneglove/stylesheets/style.css.sass */
h1, h2 {
  font-family: "Open Sans"; }

/* line 15, //et.github.io/oneglove/stylesheets/style.css.sass */
svg.logo {
  font: 5em/1 Open Sans, Impact;
  text-transform: uppercase; }

/* line 19, //et.github.io/oneglove/stylesheets/style.css.sass */
.callout {
  font-size: 2.5em; }

/* line 22, //et.github.io/oneglove/stylesheets/style.css.sass */
.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  animation: stroke 6s infinite linear; }
  /* line 30, //et.github.io/oneglove/stylesheets/style.css.sass */
  .text:nth-child(5n + 1) {
    stroke: #F2385A;
    animation-delay: -1.2s; }
  /* line 34, //et.github.io/oneglove/stylesheets/style.css.sass */
  .text:nth-child(5n + 2) {
    stroke: #F5A503;
    animation-delay: -2.4s; }
  /* line 38, //et.github.io/oneglove/stylesheets/style.css.sass */
  .text:nth-child(5n + 3) {
    stroke: #E9F1DF;
    animation-delay: -3.6s; }
  /* line 42, //et.github.io/oneglove/stylesheets/style.css.sass */
  .text:nth-child(5n + 4) {
    stroke: #56D9CD;
    animation-delay: -4.8s; }
  /* line 46, //et.github.io/oneglove/stylesheets/style.css.sass */
  .text:nth-child(5n + 5) {
    stroke: #3AA1BF;
    animation-delay: -6s; }

@keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }
/* line 54, //et.github.io/oneglove/stylesheets/style.css.sass */
section {
  background-color: #F4F7F7;
  border: 10px solid rgba(196, 237, 228, 0.25);
  padding: 2rem;
  margin: 0 0 5rem 0; }

/* line 61, //et.github.io/oneglove/stylesheets/style.css.sass */
.why p {
  font-size: 200%; }

/* line 65, //et.github.io/oneglove/stylesheets/style.css.sass */
.how-it-works p {
  font-size: 200%; }
/* line 67, //et.github.io/oneglove/stylesheets/style.css.sass */
.how-it-works i {
  color: #4C696B;
  line-height: normal; }

/* line 71, //et.github.io/oneglove/stylesheets/style.css.sass */
.faq {
  margin: 0;
  border-bottom: 0; }

/* line 75, //et.github.io/oneglove/stylesheets/style.css.sass */
footer {
  background-color: #403D58;
  margin: 0 auto;
  padding: 1rem; }
  /* line 80, //et.github.io/oneglove/stylesheets/style.css.sass */
  footer p {
    margin: 0; }
  /* line 83, //et.github.io/oneglove/stylesheets/style.css.sass */
  footer a {
    color: #FC7753; }
  /* line 86, //et.github.io/oneglove/stylesheets/style.css.sass */
  footer a:hover, footer a:focus {
    color: #DBD56E; }
