---
title: One Glove
---

.row
  .large-12.columns
    %svg.logo{:viewbox => "0 0 600 200"}
      / Symbol
      %symbol#s-text
        %text{:dy => ".35em", "text-anchor" => "middle", :x => "50%", :y => "50%"}
          One Glove
      / Duplicate symbols
      %use.text{"xlink:href" => "#s-text"}
      %use.text{"xlink:href" => "#s-text"}
      %use.text{"xlink:href" => "#s-text"}
      %use.text{"xlink:href" => "#s-text"}
      %use.text{"xlink:href" => "#s-text"}


.row
  .large-12.columns
    .callout
      %p.text-center One Glove is a not for profit mission to match unpaired gloves for those who are in need.
    %section.text-center
      %h1 How it works

      %h3
        %i.fi-mail
        Mail your unpaired glove

      %h3
        Received gloves soon find matches

      %h3
        Matched gloves are delivered to those in need

    %section.text-center
      %h1 FAQ

      %h3 Can I mail mittens?
      %p Of course!

      %hr

      %h3 Who does this benefit?
      %p We deliver matched gloves to those in need in the Denver metro area.

      %hr

      %h3 Can this be expanded outside of Denver?
      %p Contact me :)

      %hr

      %h3 How do you have time to match thousands of gloves that are sent?
      %p I'm unemployed
