---
title: One Glove
---

%svg.logo{:viewbox => "0 0 600 300"}
  / Symbol
  %symbol#s-text
    %text{:dy => ".35em", "text-anchor" => "middle", :x => "50%", :y => "50%"}
      One Glove
  / Duplicate symbols
  / Props to codrops!
  %use.text{"xlink:href" => "#s-text"}
  %use.text{"xlink:href" => "#s-text"}
  %use.text{"xlink:href" => "#s-text"}
  %use.text{"xlink:href" => "#s-text"}
  %use.text{"xlink:href" => "#s-text"}


.row
  .large-12.columns
    .callout
      %p.text-center One Glove is a not for profit mission to reclaim unpaired gloves for those who are in need.

    %section.why
      %h1 Why?

      %p It's highly likely that if you live in a cold climate area or frequent ski resorts, you have lost a glove. Dropped from the lift while texting, misplaced in the back seat of a rental car, or vanished along with the elusive missing sock -- that glove is gone.
      %p Annoyingly, only one glove goes missing leaving the other lonely. But you keep that single glove in hopes that you'll find the other.
      %p Let's face it -- <strong>it's not coming back</strong>.

    %section.how-it-works#how-it-works
      %h1 How it works

      .media-object
        .media-object-section
          %p
            %i.fi-mail
        .media-object-section.main-section
          %p Mail your glove to:
          %img(src="/images/address.png")
          %p.hint
            %em Optional: include a postage stamp and we'll mail you back a One Glove sticker.

      .media-object
        .media-object-section
          %p
            %i.fi-torsos-all
        .media-object-section.main-section
          %p After enough single gloves are received, gloves soon find matches

      .media-object
        .media-object-section
          %p
            %i.fi-heart
        .media-object-section.main-section
          %p Matched gloves are delivered to those in need

    %section.faq
      %h1 FAQ

      %h3 Can I mail mittens or liners?
      %p Of course!

      %hr

      %h3 I have a complete pair of gloves that I no longer need. Can I mail those?
      %p Of course!

      %hr

      %h3 Who does this benefit?
      %p We deliver matched gloves to those in need in the Denver metro area. This includes homeless shelters, Goodwill, Salvation Army, or simply directly to a person who needs gloves during the colder months.

      %hr

      %h3 Can this be expanded outside of Denver?
      %p Ideally yes but our resources are limited. Please <a href="mailto:help@oneglove.love">contact us</a> if you'd like to help out in other areas.

      %hr

      %h3 I have no gloves to contribute, can I make a monetary donation?
      %p We appreciate the offer, but we do not accept any money. Please consider making a contribution to your local shelter most of which are tax deductible.

      %hr

      %h3 Will you accept socks?
      %p Not yet, but it's on the radar!

%footer
  %p.text-center
    <a href="mailto:help@oneglove.love">help@oneglove.love</a>&nbsp;
    <a href="https://www.facebook.com/oneglovemission"><i class="fi-social-facebook"></i></a>&nbsp;
    <a href="https://www.twitter.com/oneglovemission"><i class="fi-social-twitter"></i></a>
